version: "3"
services:
  heat-enclosure:
    build:
      context: {{ config_dir }}/heat-enclosure
      dockerfile: heat-enclosure.dockerfile
    restart: unless-stopped
    volumes:
      - .:/usr/src/app
      - /etc/localtime:/etc/localtime:ro # this synchronizes the hosts's timezone to the container
    network_mode: "host"
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      TODO: "remove hardcoded values. define TUNINGS together with sensor and plug (system-specific). make definitions in config.yml?"
      TEMPERATURE_GET: "http://pico-temp-2/dht?room=ants"
      TEMPERATURE_REBOOT: "http://{{ shelly_plugs_http_username }}:{{ shelly_plugs_http_password }}@shellyplug-fridge/relay/0?turn=off&timer=5"
      HEATER_POST: "http://{{ shelly_plugs_http_username }}:{{ shelly_plugs_http_password }}@shellyplug-generic-0/relay/0?turn=on&timer={timer}"
      START_TEMP: 18
      TARGET_TEMP: 5
      START_DATE: "2022-10-11"
      TARGET_DATE: "2022-10-25"
