version: "3"
services:
  heat-enclosure:
    build:
      context: {{ config_dir }}/heat-enclosure
      dockerfile: heat-enclosure.dockerfile
    restart: unless-stopped
    volumes:
      - .:/usr/src/app
      - /etc/localtime:/etc/localtime:ro # this synchronizes the hosts's timezone to the container
    network_mode: "host"
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      TODO: "define TUNINGS together with sensor and plug (system-specific)"
      TEMPERATURE_GET: "{{ heat_enclosure.temperature_GET }}"
      TEMPERATURE_REBOOT: "http://{{ shelly_plugs_http_username }}:{{ shelly_plugs_http_password }}@{{ heat_enclosure.reboot_plug }}/relay/0?turn=off&timer=5"
      HEATER_POST: "http://{{ shelly_plugs_http_username }}:{{ shelly_plugs_http_password }}@{{ heat_enclosure.heater_plug }}/relay/0?turn=on&timer={timer}"
      START_DATE: "{{ heat_enclosure.start_date }}"
      START_TEMP: {{ heat_enclosure.start_temp }}
      TARGET_DATE: "{{ heat_enclosure.target_date }}"
      TARGET_TEMP: {{ heat_enclosure.target_temp }}
